
body {
 font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
    color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15%
}

/* Navigation Bar  */

.navbar{
  padding: 0 0 4.5rem
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}


.nav-item {
padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons  */

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  transform: rotate(30deg);
  width: 65%;
}


/* Features Section */

#features{
  padding: 10% 10%
}

.feature-div{
  text-align: center;
}
.feature-img{
  color: #ef8172;
  padding-bottom: 5%
}

.feature-title{
  font-weight: 700;
  font-size: 1.5rem
}

.feature-text{
  color: #8f8f8f
}
