
body {
 font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
    color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15%
}


/* Navigation Bar  */


.navbar{
  padding: 0 0 4.5rem
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}


#iphone{
  transform: rotate(30deg);
  width: 65%;
}

.nav-item {
padding: 0 18px;
}

.nav-link{

}

/* Download Buttons  */

.download-button{
  margin: 5% 3% 5% 0;
}
